
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }

body {
  margin: 0;
}

.body-bakcground {
  padding: 0 40px;
  background-color: #F2F2F2;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.body-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: #FFFFFF;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: black;
  flex: 1 0 auto;

}

/*Header*/

.main-header {
  display: flex;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link {
  font-weight: 700;
  color: black;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
}

/*Main*/

.description {
  background-image: url(../images/index-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: blue;
  height: 485px;
  position: relative;
}

.images {
  padding: 51px 371px 82px 371px;
  text-align: center;
}

.button-popup{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  color: #FFFFFF;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
}


/*reason*/
.reason-item:nth-child(1),
.reason-item:nth-child(5) {
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
}

.reason-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reason-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.reason-item-container {
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
}


.reasons-list {
margin: 0;
padding: 0;
list-style-type: none;
display: flex;
flex-wrap: wrap;
}

.reason-criteria h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color:#000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 69px 290px 12.5px 290px;
}

.criteria {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 12.5px 274.5px 69px 274.5px;
}

.reason-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
}

.reason-description-wite {
  margin: 0;
  padding-top: 30px;
}

.reason-description {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding-top: 30px;
}

/*features-container*/

.features {
  width: 1200px;
  height: 385px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.features-item {
  padding: 81px 85px;
}

.features-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.logo-feature {
  display: block;
  margin: 0 auto;
}


.offer h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color:#000000;
  margin: 0;
  padding: 64px 347.5px 10px;
}

.offer p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 10px 355px 64px;
}

.title-item-black {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 30px 0 30px;
}

.title-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
}

/*search*/

.search {
padding: 96px 0 96px;
}

.search-item {
  width: 592px;
  margin: 0 auto;
  text-align: center;
}

.search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.explation {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 20px 0 54px;
}

.search .button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  color: #FFFFFF;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
}

/*subscribe*/

.subscribe {
  background-image: url(../images/subscribe_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: blue;
  color: #FFFFFF;
  padding: 96px 0 104px;
}

.subscribe-item{
width: 684px;
margin: 0 auto;
text-align: center;

}

.subscribe h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.subscribe p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 20px 0 54px;

}

.subscribe input {
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
  border: 0;
  background-color:  #F2F2F2;
}

.subscribe .button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  color: #FFFFFF;
  border: 0;
  border-radius: 0 4px 4px 0;
  text-transform: uppercase;
}

/*Footer*/

.main-footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: "PT Sans", sans-serif;
  flex: 0 0 auto;
  max-width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.footer-social-list {
  margin: 0;
  list-style: none;
}

.pfone-contacts {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

/*Catalog*/

.filter-content {
  display: flex;
  justify-content: space-between;
}

.main-catalog {
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
}

.advacned-settings {
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  background-color: blue;
  color: #FFFFFF;
  background-size: cover;
}

.advacned-settings h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrubs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.advacned-settings legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

 .checkbox span {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.control span {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.price-controls span {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.min-price input{
  width: 143px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: 0;
  border-radius: 4px 0 0 4px;
}

.max-price input{
  width: 143px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.scale button {
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 0;
}

.button-submit {
  font-weight: 700;
  border: 0;
  border-radius: 4px;
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
}

.button-reset {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  border: 0;
  background: 0;
}

.sort-container {
  display: flex;
  padding: 50px 70px 40px;
}

.found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.select-control {
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.filter-active {
  border-radius: 4px;
  border: 2px solid #000000;
  background-color: #FFFFFF;
}

.not-active {
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  background-color: #FFFFFF;
}

.hotels {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  gap: 20px;
  padding: 0;
  padding-left: 70px;
  margin: 0;
}

.hotels-items {
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding: 20px;
}

.hotels h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding: 20px 0;
}

.type-container {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.type-container p {
  margin: 0;
}

.hotel-button {
  background-color: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.actions-container label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
}

.active-container label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
}

.rating p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  margin: 0;
}

.pagination {
  display: flex;
  padding: 0;
  }

.pagination-item {
  margin: 0;
  display: flex;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.active {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #E5E5E5;
  border-radius: 4px;
}

.pagination-item span {
  background-color: #E5E5E5;
}
.subscribe-catalog {
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe-catalog-item {
  width: 684px;
  margin: 0 auto;
}

.subscribe-catalog h2{
  margin: 0;
}

.subscribe-catalog p {
  margin: 0;
  padding: 20px 0 54px;
}

.subscribe-catalog input {
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
  border: 0;
  background-color:  #F2F2F2;
}

.subscribe-catalog button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  color: #FFFFFF;
  border: 0;
  border-radius: 0 4px 4px 0;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
}
